@import "fonts.css";

* {box-sizing: border-box}

body {
    background-color: hsl(0, 10%, 95%);
}

/* Design system */
:root {
    /* Font */
    --small-font: 10px;
    --normal-font: 16px;
    --large-1-font: 26px;
    --large-2-font: 42px;
    --large-3-font: 68px;
    --large-4-font: 110px;

    --logo-font: 'a Asian Ninja', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --header-font: 'Lora', Georgia, 'Times New Roman', Times, serif;
    --base-font: 'Merriweather', Arial, Helvetica, sans-serif;

    /* Colors */
    --lightest-primary: hsl(0, 87%, 90%);
    --lighter-primary: hsl(0, 87%, 70%);
    --primary: hsl(0, 87%, 60%);
    --darker-primary: hsl(0, 100%, 40%);
    --darkest-primary: hsl(0, 100%, 30%);

    --lighest-secondary: hsl(56, 30%, 92%);
    --lighter-secondary: hsl(56, 30%, 822%);
    --secondary: hsl(56, 30%, 72%);
    --darker-secondary: hsl(56, 30%, 52%);
    --darkest-secondary: hsl(56, 30%, 42%);

    --dark-black: hsl(0, 2%, 5%);
    --base-black: hsl(0, 2%, 10%);
    --light-black: hsl(0, 2%, 20%);
}

#header {
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto 30%;
    justify-content: space-between;
    align-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menu {
    grid-column: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--header-font);
    font-size: var(--large-1-font);
}

.menu a {
    padding: 0 1em 0 1em;
    color: var(--light-black);
    text-decoration: none;
    transition: color 200ms;
}

.menu a:hover {
    color: var(--darkest-secondary);
}

.header-container {
    grid-column: 2;
    color: var(--base-black);
}

.header-background-circle {
    background-color: var(--lighter-primary);
    border-radius: 100px;
    height: 100px;
    width: 100px;
    overflow: visible;
}   

.header-text {
    width: 300px;
    height: 50px;
    padding-top: 55%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--logo-font);
    font-size: var(--large-2-font);
}

/* MAIN CONTENT */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

#content {
    width: 100%;
    overflow: auto;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    font-family: var(--base-font);
}

#content h1 {
    font-family: var(--large-1-font);
    font-weight: normal;
}

.content-container {
    width: 45%;
}

.content-container img {
    max-height: 400px;
    padding: 10px;
}

.float-right {
    float: right;
    clear: right;
}

.float-left {
    float: left;
    clear: left;
}